* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;
}

header {
  grid-area: header;
  background: hsl(195, 45.6%, 40.4%);

  --startY: -100%;
  animation: move 0.2s;

  display: flex;
  justify-content: center;
  gap: clamp(1rem, 10vw, 2rem);
  align-items: center;

  padding: 1rem 10rem;
}

#profile-photo {
  height: 4.2rem;
  width: 4.2rem;
  border-radius: 50%;
}

form input {
  padding: 1.2rem 1.6rem;
  background: hsl(0, 0%, 96.1%);
  width: 24rem;

  border-radius: 0.4rem;
  border: 0;
}

form label {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}

body {
  min-height: 100vh;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;

  display: grid;
  grid-template-areas:
    'header'
    'main'
    'aside'
    'footer';
  grid-template-columns: 100%;
}

main {
  grid-area: main;
  padding: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3.2rem;
}

main div div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#main-photo {
  width: 100%;
  height: 25rem;
  aspect-ratio: 16/9;
  object-fit: cover;

  border-radius: 0.5rem;
}

#main-photo:hover,
figure img:hover {
  filter: saturate(2);
}

aside {
  grid-area: aside;
  padding: 0;
  margin: 0 auto;
}

footer {
  grid-area: footer;
  padding: 16px;
  background: hsl(195, 45.6%, 40.4%);

  --startY: 100%;
  animation: move 0.2s;

  font-weight: 600;

  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-size: 1.4rem;

  padding-bottom: 4.2rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

figure img {
  width: 15rem;
  height: 8rem;
  object-fit: cover;
  aspect-ratio: 16/9;

  border-radius: 0.5rem;
}

figure {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

@keyframes move {
  from {
    transform: translateY(var(--startY));
  }
}

@media screen and (min-width: 768px) {
  body {
    grid-template-areas:
      'header header header'
      'main main aside'
      'footer footer footer';
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  main {
    padding: 4.2rem 3rem 4.2rem 12rem;
  }

  aside {
    padding: 4.2rem 12rem 4.2rem 0rem;
  }

  #title-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #main-photo {
    width: 100%;
    height: 50rem;
  }

  form input {
    width: 100rem;
  }
}
